<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="com.ibm.etools.mft.debug.internal.mbLaunchConfigurationDelegate">
<stringAttribute key="BRName" value="GSS_PERSON_AND_ORGANIZATION"/>
<stringAttribute key="ConnectionInfo" value="ss10985:4415"/>
<stringAttribute key="EGName" value="OPERATIONS_BUP_BATCH"/>
<stringAttribute key="com.ibm.etools.mft.debug.attr_hostname" value="ss10985"/>
<stringAttribute key="com.ibm.etools.mft.debug.attr_javaportname" value="3598"/>
</launchConfiguration>